<div class="right_general">
    <div class="d-flex justify-content-between">
        <div class="customiseappfeatures">
            <article class="hdr">
                <h3 class="sec_hd">Create App Icon <span class="play_vid link_style"><i class="material-icons hm_icn">play_arrow</i> See Video</span> </h3>
                <h5 class="ap_sts">Set an app icon for your mobile app. This is usually your brand logo. <span class="link_style"> Learn More </span></h5>
            </article>
<form>
    <div class="d-flex justify-content-between flex-wrap mt4 cntr_frm">
        <div class="frm_style mb-4">
            <h4 class="lbl_nm">Background Color <i class="material-icons tt">help_outline</i></h4>
           <section class="form-group clr_cnrfm">
            <input type="color" class="clr_inp"/>
             <span class="color_code">
                #fc0c0c
            </span>
        </section>
        </div>
        <div class="frm_style mb-4">
            <h4 class="lbl_nm">App icon text<i class="material-icons tt">help_outline</i></h4>
            <div class="form-group">
            <input type="text" class="form-control text_inp "/>
        </div>
        </div>
        <div class="frm_style mb-4">
            <h4 class="lbl_nm">Font <i class="material-icons tt">help_outline</i></h4>
          <div class="form-group">
            <select  class=" form-control slct_inp">
            <option >Arial </option>
            <option >Arial Black</option>
            <option selected>Poppins SemiBold </option>
            <option >Sans Serif</option>
            <option >Times New Roman</option>
            <option >Verdana</option>

          </select>
        </div>
        </div>
        <div class="frm_style mb-4">
            <h4 class="lbl_nm" >Font Size <i class="material-icons tt"  >help_outline</i></h4>
            <div class="form-group">
                <select  class=" form-control slct_inp">
                <option >12 </option>
                <option >13</option>

                <option selected>14 </option>
    
              </select>
            </div>
            
        </div>
        <div class="frm_style full">
            <h4 class="lbl_nm">Text Color <i class="material-icons tt">help_outline</i></h4>
            
            <section class="form-group clr_cnrfm">
             <input type="color" class="clr_inp"/>
              <span class="color_code">
                 #fc0c0c
             </span>
         </section>
        
        </div>
    </div>
    <div class="d-flex btn_area">
        <button type="submit" class="btn btn-primary">
            Save
        </button>
    </div>
</form>

        </div>
        <div class="customiseapp ">
            <div class="text-center">
                <section class="mobile_bg">
                    <img src="../../../assets/img/mobile.png" class="img-fluid mob_mg">
                    <aside class="app_pos">
                    <p class="app_icon" [ngStyle]="{'font-size': '14px', 'background-color':'#444', 'color':'#fff', 'font-family':'Arial '}">
                        abc
                    </p>
                    <small>abc</small>
                </aside>
                </section>
            </div>

        </div>
    </div>

</div>