@import '../../../scss/theme.scss';
.main {
    height: 100%;
    overflow-x: hidden;
    background: #000;
    color: #cccccc;
    font-size: 0.65rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    padding-top: 45px;
    position: fixed;
    width: 15%;
    

.hdr-wrap {
    position: fixed;
    top: 0px;
    background: #2196f3;
    width: 15%;
    color: #ffffff;
    z-index: 9;
    height: 45px;
    text-align: center;

span.logo {
    position: relative;
    display: inline-block;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 35px;
    margin-right: 5px;
    margin-top: 7px;
    text-align: center;
    cursor: pointer;
    img{
        max-width: 30px;
        padding-top: 2px;
    }
}
span,a,img{
    outline: none;
}
span.ap-nm {
    display: block;
    font-size: 1.20rem;
    cursor: pointer;
    height: 100%;
    padding-top: 10px;
    text-transform: uppercase;
    
}
}
.list-item {
    padding: 0rem 0px;
    border-bottom: 1px solid #446585;
    background: transparent !important;
    border-radius: 0px;
    h4.sec-nm {
    display: inline-block;
    font-weight: 400;
    font-size: .85rem;
    margin: 0px;
    margin-top: 5px;
    color:#f3f3f3;
    }
    ul.side-list {
        list-style: none;
        padding-left: 0px;
        margin: 0px;
        li{
            outline: none;
        }
        .item {
            padding: 8px 15px;
            margin-top: 0px;
            cursor: pointer;
            position: relative;
            &::before{
                content: '';
                display: none;
            }
            &:hover,&.act{
                background-color: #ffffff;
                color: $white;
                span.categ{
                    color: #000 !important;
                }
                i.material-icons.icons-hem{
                    color: #2196f3 !important;
                }
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    width: 3px;
                    height: 100%;
                    background: #2196f3;
                    left: 0px;
                    top:0px;
                }
            }
            i.material-icons.icons-hem {
                color: #b3b3b3;
    font-size: 0.8rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
            }
        }
    }
}
}
span.categ {
    color: #cccccc;
    font-size: .70rem;
    outline: none;
    font-weight: 600;
}
::ng-deep .mat-expansion-panel-body{
    padding: 0 !important;
}
::ng-deep .mat-expansion-panel-header-title{
    margin-top: 0;
    padding: 5px;
    margin-right: 5px !important;
}
::ng-deep .mat-expansion-panel-header{
    height: auto !important;
    padding: 5px !important;
}
::ng-deep .mat-expansion-indicator::after{
    border-color: #fff !important;
}
::ng-deep .mat-expansion-indicator {
    right: 10px;
    position: absolute;
}