<div class="main cus_scrl">
  <section class="hdr-wrap">
    <span class="ap-nm" [routerLink]="'/'">AppMySite</span>
<i class="material-icons icn_tgl">chevron_left</i>
  </section>
 
<mat-expansion-panel class="list-item"> 
  
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4 class="sec-nm" style="margin-left: 0%;"><i class="material-icons icn_hm">
          manage_accounts
        </i>
         MANAGEMENT</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-body">
    <ul class="side-list">
      <li [routerLink]="'/order'" matRipple>
        <div class="item" routerLinkActive="act current">
          <i class="material-icons icons-hem">account_tree</i>
          <span class="categ">Order </span>
        </div>
      </li>
    </ul>
  
    <ul class="side-list">
      <li [routerLink]="'/retrospective/inventory'" matRipple>
        <div class="item" routerLinkActive="act current">
          <i class="material-icons icons-hem">account_tree</i>
          <span class="categ">Process</span>
        </div>
      </li>
    </ul>
  
    <ul class="side-list">
      <li matRipple>
        <div class="item" routerLinkActive="act current">
          <i class="material-icons icons-hem">account_tree</i>
          <span class="categ">User </span>
        </div>
      </li>
    </ul>
  
</div>
</mat-expansion-panel>

<mat-expansion-panel class="list-item"> 
  
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4 class="sec-nm" style="margin-left: 0%;"><i class="material-icons icn_hm">
        manage_accounts
      </i>
       PRODUCTS</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="mat-expansion-panel-body">
  <ul class="side-list">
    <li [routerLink]="'/order'" matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">Order </span>
      </div>
    </li>
  </ul>

  <ul class="side-list">
    <li [routerLink]="'/retrospective/inventory'" matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">Process</span>
      </div>
    </li>
  </ul>

  <ul class="side-list">
    <li matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">User </span>
      </div>
    </li>
  </ul>

</div>
</mat-expansion-panel>


<mat-expansion-panel class="list-item"> 
  
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4 class="sec-nm" style="margin-left: 0%;"><i class="material-icons icn_hm">
        manage_accounts
      </i>
       MANAGEMENT</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="mat-expansion-panel-body">
  <ul class="side-list">
    <li [routerLink]="'/order'" matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">Order </span>
      </div>
    </li>
  </ul>

  <ul class="side-list">
    <li [routerLink]="'/retrospective/inventory'" matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">Process</span>
      </div>
    </li>
  </ul>

  <ul class="side-list">
    <li matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">User </span>
      </div>
    </li>
  </ul>

</div>
</mat-expansion-panel>

<mat-expansion-panel class="list-item"> 

<mat-expansion-panel-header>
  <mat-panel-title>
    <h4 class="sec-nm" style="margin-left: 0%;"><i class="material-icons icn_hm">
      manage_accounts
    </i>
     PRODUCTS</h4>
  </mat-panel-title>
</mat-expansion-panel-header>
<div class="mat-expansion-panel-body">
<ul class="side-list">
  <li [routerLink]="'/order'" matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">Order </span>
    </div>
  </li>
</ul>

<ul class="side-list">
  <li [routerLink]="'/retrospective/inventory'" matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">Process</span>
    </div>
  </li>
</ul>

<ul class="side-list">
  <li matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">User </span>
    </div>
  </li>
</ul>

</div>
</mat-expansion-panel>


<mat-expansion-panel class="list-item"> 
  
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4 class="sec-nm" style="margin-left: 0%;"><i class="material-icons icn_hm">
        manage_accounts
      </i>
       MANAGEMENT</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="mat-expansion-panel-body">
  <ul class="side-list">
    <li [routerLink]="'/order'" matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">Order </span>
      </div>
    </li>
  </ul>

  <ul class="side-list">
    <li [routerLink]="'/retrospective/inventory'" matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">Process</span>
      </div>
    </li>
  </ul>

  <ul class="side-list">
    <li matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">User </span>
      </div>
    </li>
  </ul>

</div>
</mat-expansion-panel>

<mat-expansion-panel class="list-item"> 

<mat-expansion-panel-header>
  <mat-panel-title>
    <h4 class="sec-nm" style="margin-left: 0%;"><i class="material-icons icn_hm">
      manage_accounts
    </i>
     PRODUCTS</h4>
  </mat-panel-title>
</mat-expansion-panel-header>
<div class="mat-expansion-panel-body">
<ul class="side-list">
  <li [routerLink]="'/order'" matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">Order </span>
    </div>
  </li>
</ul>

<ul class="side-list">
  <li [routerLink]="'/retrospective/inventory'" matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">Process</span>
    </div>
  </li>
</ul>

<ul class="side-list">
  <li matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">User </span>
    </div>
  </li>
</ul>

</div>
</mat-expansion-panel>


<mat-expansion-panel class="list-item"> 
  
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4 class="sec-nm" style="margin-left: 0%;"><i class="material-icons icn_hm">
        manage_accounts
      </i>
       MANAGEMENT</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="mat-expansion-panel-body">
  <ul class="side-list">
    <li [routerLink]="'/order'" matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">Order </span>
      </div>
    </li>
  </ul>

  <ul class="side-list">
    <li [routerLink]="'/retrospective/inventory'" matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">Process</span>
      </div>
    </li>
  </ul>

  <ul class="side-list">
    <li matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">User </span>
      </div>
    </li>
  </ul>

</div>
</mat-expansion-panel>

<mat-expansion-panel class="list-item"> 

<mat-expansion-panel-header>
  <mat-panel-title>
    <h4 class="sec-nm" style="margin-left: 0%;"><i class="material-icons icn_hm">
      manage_accounts
    </i>
     PRODUCTS</h4>
  </mat-panel-title>
</mat-expansion-panel-header>
<div class="mat-expansion-panel-body">
<ul class="side-list">
  <li [routerLink]="'/order'" matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">Order </span>
    </div>
  </li>
</ul>

<ul class="side-list">
  <li [routerLink]="'/retrospective/inventory'" matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">Process</span>
    </div>
  </li>
</ul>

<ul class="side-list">
  <li matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">User </span>
    </div>
  </li>
</ul>

</div>
</mat-expansion-panel>


<mat-expansion-panel class="list-item"> 
  
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4 class="sec-nm" style="margin-left: 0%;"><i class="material-icons icn_hm">
        manage_accounts
      </i>
       MANAGEMENT</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="mat-expansion-panel-body">
  <ul class="side-list">
    <li [routerLink]="'/order'" matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">Order </span>
      </div>
    </li>
  </ul>

  <ul class="side-list">
    <li [routerLink]="'/retrospective/inventory'" matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">Process</span>
      </div>
    </li>
  </ul>

  <ul class="side-list">
    <li matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">User </span>
      </div>
    </li>
  </ul>

</div>
</mat-expansion-panel>

<mat-expansion-panel class="list-item"> 

<mat-expansion-panel-header>
  <mat-panel-title>
    <h4 class="sec-nm" style="margin-left: 0%;"><i class="material-icons icn_hm">
      manage_accounts
    </i>
     PRODUCTS</h4>
  </mat-panel-title>
</mat-expansion-panel-header>
<div class="mat-expansion-panel-body">
<ul class="side-list">
  <li [routerLink]="'/order'" matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">Order </span>
    </div>
  </li>
</ul>

<ul class="side-list">
  <li [routerLink]="'/retrospective/inventory'" matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">Process</span>
    </div>
  </li>
</ul>

<ul class="side-list">
  <li matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">User </span>
    </div>
  </li>
</ul>

</div>
</mat-expansion-panel>


<mat-expansion-panel class="list-item"> 
  
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h4 class="sec-nm" style="margin-left: 0%;"><i class="material-icons icn_hm">
        manage_accounts
      </i>
       MANAGEMENT</h4>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="mat-expansion-panel-body">
  <ul class="side-list">
    <li [routerLink]="'/order'" matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">Order </span>
      </div>
    </li>
  </ul>

  <ul class="side-list">
    <li [routerLink]="'/retrospective/inventory'" matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">Process</span>
      </div>
    </li>
  </ul>

  <ul class="side-list">
    <li matRipple>
      <div class="item" routerLinkActive="act current">
        <i class="material-icons icons-hem">account_tree</i>
        <span class="categ">User </span>
      </div>
    </li>
  </ul>

</div>
</mat-expansion-panel>

<mat-expansion-panel class="list-item"> 

<mat-expansion-panel-header>
  <mat-panel-title>
    <h4 class="sec-nm" style="margin-left: 0%;"><i class="material-icons icn_hm">
      manage_accounts
    </i>
     PRODUCTS</h4>
  </mat-panel-title>
</mat-expansion-panel-header>
<div class="mat-expansion-panel-body">
<ul class="side-list">
  <li [routerLink]="'/order'" matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">Order </span>
    </div>
  </li>
</ul>

<ul class="side-list">
  <li [routerLink]="'/retrospective/inventory'" matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">Process</span>
    </div>
  </li>
</ul>

<ul class="side-list">
  <li matRipple>
    <div class="item" routerLinkActive="act current">
      <i class="material-icons icons-hem">account_tree</i>
      <span class="categ">User </span>
    </div>
  </li>
</ul>

</div>
</mat-expansion-panel>


</div>