<!-- The Modal -->
<div class="modal" id="myModal" *ngIf="isShow">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{text}} Order</h4>

                <button mat-mini-fab color="primary" data-dismiss="modal"
                    aria-label="Example icon button with a menu icon">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form #productForm="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Name</mat-label>
                                <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="product.name">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Keywords</mat-label>
                                <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="product.keywords">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Description</mat-label>
                                <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="product.description">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Content</mat-label>
                                <input type="tel" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="product.content">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Price</mat-label>
                                <input type="tel" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="product.price">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Tax</mat-label>
                                <input type="tel" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="product.tax">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Stock</mat-label>
                                <input type="tel" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="product.StockQty">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <!-- <mat-form-field class="example-full-width"> -->
                            <mat-label>Available</mat-label>
                            <mat-checkbox class="example-margin" value="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.IsAvailable">
                            </mat-checkbox>
                            <!-- </mat-form-field> -->
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Select Size</mat-label>
                                <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="product.sizeAttributes" multiple="true">
                                    <mat-option *ngFor="let size of sizeAttributes" [value]="size">{{size}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Select Color</mat-label>
                                <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="product.colorAttributes" multiple="true">
                                    <mat-option *ngFor="let color of colorAttributes" [value]="color">{{color}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button mat-raised-button color="primary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-danger" >Close</button> -->
            </div>

        </div>
    </div>
</div>