<section class="main-ara-cntr">
    <header>
        <h4 class="pg-title">Add product</h4>
        <button mat-mini-fab color="primary" data-dismiss="modal" aria-label="Example icon button with a menu icon" (click)="closePopUp()">
            <mat-icon>close</mat-icon>
        </button>
    </header>
    <form #productForm="ngForm">
        <div class="row no-mr mx-ht cus_scrl">
            <div class="col-6">
                <div class="frm_style mb-4">
                    <h4 class="lbl_nm">Name</h4>

                    <div class="form-group">
                        <input class="form-control text_inp" name="appText" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.name">
                    </div>
                </div>

                <!-- <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input type="text" matInput [ngModelOptions]="{standalone: true}"
                [(ngModel)]="product.name">
        </mat-form-field> -->
            </div>
            <div class="col-6">

                <div class="frm_style mb-4">
                    <h4 class="lbl_nm">Keywords</h4>

                    <div class="form-group">
                        <input class="form-control text_inp" name="appText" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.keywords">
                    </div>
                </div>
                <!-- <mat-form-field class="example-full-width">
            <mat-label>Keywords</mat-label>
            <input type="text" matInput [ngModelOptions]="{standalone: true}"
                [(ngModel)]="product.keywords">
        </mat-form-field> -->
            </div>
            <div class="col-6">
                <div class="frm_style mb-4">
                    <h4 class="lbl_nm">Description</h4>

                    <div class="form-group">
                        <input class="form-control text_inp" name="appText" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.description">
                    </div>
                </div>
                <!-- <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input type="text" matInput [ngModelOptions]="{standalone: true}"
                [(ngModel)]="product.description">
        </mat-form-field> -->
            </div>
            <div class="col-6">
                <div class="frm_style mb-4">
                    <h4 class="lbl_nm">Content</h4>

                    <div class="form-group">
                        <input class="form-control text_inp" name="content" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.content">
                    </div>
                </div>
                <!--                             
        <mat-form-field class="example-full-width">
            <mat-label>Content</mat-label>
            <input type="tel" matInput [ngModelOptions]="{standalone: true}"
                [(ngModel)]="product.content">
        </mat-form-field> -->
            </div>
            <div class="col-6">
                <div class="frm_style mb-4">
                    <h4 class="lbl_nm">Price</h4>

                    <div class="form-group">
                        <input class="form-control text_inp" name="content" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.price">
                    </div>
                </div>
                <!--                             
        <mat-form-field class="example-full-width">
            <mat-label>Price</mat-label>
            <input type="tel" matInput [ngModelOptions]="{standalone: true}"
                [(ngModel)]="product.price">
        </mat-form-field> -->
            </div>
            <div class="col-6">
                <div class="frm_style mb-4">
                    <h4 class="lbl_nm">Tax</h4>

                    <div class="form-group">
                        <input class="form-control text_inp" name="content" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.tax">
                    </div>
                </div>

                <!-- <mat-form-field class="example-full-width">
            <mat-label>Tax</mat-label>
            <input type="tel" matInput [ngModelOptions]="{standalone: true}"
                [(ngModel)]="product.tax">
        </mat-form-field> -->
            </div>
            <div class="col-6">
                <div class="frm_style mb-4">
                    <h4 class="lbl_nm">Stock</h4>

                    <div class="form-group">
                        <input class="form-control text_inp" name="content" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.StockQty">
                    </div>
                </div>

                <!-- 
        <mat-form-field class="example-full-width">
            <mat-label>Stock</mat-label>
            <input type="tel" matInput [ngModelOptions]="{standalone: true}"
                [(ngModel)]="product.StockQty">
        </mat-form-field> -->
            </div>
            <div class="col-6" style="padding-top: 30px;">
                <!-- <mat-form-field class="example-full-width"> -->

                <mat-checkbox class="example-margin" value="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="product.IsAvailable">
                </mat-checkbox>
                <mat-label style="margin-left: 15px;">Available</mat-label>
                <!-- </mat-form-field> -->
            </div>

            <div class="col-6">

                <!-- <div class="frm_style mb-4">
            <h4 class="lbl_nm">Select Category
            </h4>
            <div class="form-group">
                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="product.parentCatid" class="form-control slct_inp" name="fontSize">
                    <option *ngFor="let cat of catList" (click)="setSelectedCat(cat)"
                        [value]="cat._id">{{cat.catName}}</option>
                </select>
            </div>
        </div> -->

                <mat-form-field class="example-full-width">
                    <mat-label>Select Category</mat-label>
                    <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="product.parentCatid">
                        <mat-option *ngFor="let cat of catList" (click)="setSelectedCat(cat)" [value]="cat._id">
                            {{cat.catName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <ng-container *ngIf="product.parentCatid && subCatList && subCatList.length>0">
                <!-- <ng-container *ngIf="true"> -->
                <div class="col-6">
                    <!-- <div class="frm_style mb-4">
                <h4 class="lbl_nm">Select Sub Category
                </h4>
                <div class="form-group">
                    <select [ngModelOptions]="{standalone: true}" [(ngModel)]="product.subCatid" class="form-control slct_inp" name="fontSize">
                        <option *ngFor="let cat of subCatList" (click)="setSelectedSubCat(cat)" [value]="cat.id"
                           >{{cat.subCategory}}</option>
                    </select>
                </div>
            </div> -->

                    <mat-form-field class="example-full-width">
                        <mat-label>Select Sub Category</mat-label>
                        <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="product.subCatid">
                            <mat-option *ngFor="let cat of subCatList" (click)="setSelectedSubCat(cat)" [value]="cat.id">
                                {{cat.subCategory}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6" *ngIf="product.subCatid && itemCatList && itemCatList.length>0">
                    <mat-form-field class="example-full-width">
                        <mat-label>Select Item Category</mat-label>
                        <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="product.childCatId">
                            <mat-option *ngFor="let cat of itemCatList" [value]="cat.id">{{cat.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
            <!-- <div class="col-6">
                <mat-form-field class="example-chip-list">
                    <mat-label>Select Size</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let size of product.sizeAttributes" [selectable]="selectable" [removable]="removable" (removed)="remoSize(size)">
                            {{size}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Enter color RGB" name="sizeText" [(ngModel)]="sizeText" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addSize($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div> -->
            <div class="row is-sam">
                <div class="col-4 text-center">
                    <button (click)="addSize()" class="btn btn-primary"><i class="material-icons">add</i> Add Units(Size)</button>

                    <ng-container *ngFor="let size of product.sizeAttributes;let i=index">
                        <div class="form-spt">
                            <i class="material-icons cls2" (click)="removeSize(i)">cancel</i>

                            <!-- <div class="form-group col-3 ">
                                <input class="form-control text_inp" type="text" [ngModelOptions]="{standalone: true}" placeholder="Units" name="units" [(ngModel)]="units">
                            </div> -->
                            <div class="form-group col-12 ">
                                <input class="form-control text_inp" type="text" [ngModelOptions]="{standalone: true}" placeholder="Enter size" name="size" [(ngModel)]="size">
                            </div>
                        </div>

                    </ng-container>

                </div>
                <div class="col-4 text-center">
                    <button (click)="addColor()" class="btn btn-primary"> <i class="material-icons">add</i> Add Color</button>
                    <ng-container *ngFor="let color of product.colorAttributes;let i=index">
                        <div class="form-spt">
                            <i class="material-icons cls2" (click)="removeColor(i)">cancel</i>

                            <div class="form-group w-fl">
                                <input class="form-control text_inp" type="color" [ngModelOptions]="{standalone: true}" placeholder="Enter color RGB" name="color" [(ngModel)]="color">
                            </div>
                        </div>
                    </ng-container>



                </div>

                <div class="col-4 text-center">
                    <div class="js box">
                        <!-- <label class="btn btn-default">
                    Add Image
                </label> -->
                        <input type="file" name="myfile" id="file-1" class="inputfile inputfile-1" [(ngModel)]="selectedFile" [accept]="type" (change)="uploadPhoto($event)">
                        <label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> <span>Choose a file…</span></label>

                        <!-- <input type="file" name="myfile" [(ngModel)]="selectedFile" [accept]="type" (change)="uploadPhoto($event)"
                    class="custom-file-input2" title="Select Images" /> -->
                        <div class="attach-img-container" *ngIf="product?.imageUrl && product.imageUrl.length>0">
                            <span *ngFor="let img of product.imageUrl;let i=index" class="full-wd">
                        <i class="material-icons cls2" (click)="deleteImage(i)">
                            cancel
                        </i>
                        <img [src]="img" class="img-thumbnail" style="cursor: pointer;"
                            (mouseenter)="bigImageView.next(img)" title="Wait for Preview" [alt]="img">
                    </span>
                        </div>



                    </div>


                </div>
            </div>
            <!-- <div class="col-6">
                <mat-form-field class="example-chip-list">
                    <mat-label>Color RGB</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let color of product.colorAttributes" [selectable]="selectable" [removable]="removable" (removed)="removeColor(color)">
                            {{color}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Enter color RGB" name="colorText" [(ngModel)]="colorText" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addColor($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div> -->

        </div>

        <div class="d-flex btn_area">


            <button mat-raised-button (click)="closePopUp()">Close</button>
            <button class="btn btn-primary" [disabled]="!productForm.valid" (click)="saveProduct()">Save</button>
        </div>

    </form>
    <ng-container *ngIf="isImageBigView">
        <figure (click)="mouseLeaveImg()">
            <section class="img-container" (mouseleave)="mouseLeaveImg()" [ngClass]="{'anim':isImageBigView}">
                <!-- <i class="material-icons"  (click)="deleteBigImage(onHoverImage)"> cancel </i> -->
                <img class="img-thumbnail" [src]="onHoverImage" [alt]="onHoverImage">
            </section>
        </figure>
    </ng-container>
</section>