@import '../order-inventory/order-inventory.component.scss';
@import '../../../scss/theme.scss';
h4.lbl_nm {
    color: #1b2952;
    position: relative;
    margin-right: 0.5rem;
    font-size: 13px;
    font-weight: 600;
}

.form-group {
    select {
        background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAYAAAA8sqwkAAAABHNCSVQICAgIfAhkiAAAAGhJREFUGJV9j1ERgDAMQxNkrAaKi1mgBpgzQAEWkIECbIQP7jhuMPKZy0sbmEdJHhN+9Mx0gjKJJmQeBcQEiLeZfJitD9WQeZTLH+ZXUw21wqwhkiOkDWSWtBz7Wv72PS59vNGSeTRbT5ZuKhzVLEEOAAAAAElFTkSuQmCC);
        background-repeat: no-repeat;
        background-position: 96%;
        border: 1px solid #bcc7e6;
        height: 55px;
        border-radius: 0.25rem;
        padding: 1px 5px;
    }
}

.modal-dialog {
    max-width: 720px !important;
}

.frm_style {
    input {
        background-color: #fff;
        border: 1px solid #bcc7e6;
        border-radius: 0.25rem;
        padding: 1px 5px;
        height: 54px;
    }
}

.modal-footer {
    button {
        margin-left: 10px;
    }
}

::ng-deep .mat-form-field {
    display: block !important;
}

section.main-ara-cntr {
    position: absolute;
    width: calc(80%);
    top: 10%;
    background: #ffffff;
    height: 80%;
    box-shadow: rgb(110 110 110 / 50%) 0px 0px 15px;
    left: 10%;
    border-radius: 4px;
    header {
        display: flex;
        padding: 20px 30px;
        justify-content: space-between;
        background: #42c6e1;
        align-items: center;
        color: #192da1;
        font-weight: 100;
    }
}

.no-mr {
    margin: 30px 30px;
    &.mx-ht {
        max-height: 460px;
        overflow: auto;
    }
}

.btn_area {
    justify-content: flex-end;
    margin-right: 30px;
    button {
        margin-left: 15px;
    }
}

::ng-deep .mat-select-panel {
    margin-top: 0% !important;
}

.attach-img-container {
    display: block;
    margin: 20px 0px;
    border: solid 1px #ccc;
    border-radius: 4px;
    img {
        max-width: 80px;
        max-height: 50px;
        vertical-align: top;
        margin: 5px 5px;
    }
}