<!-- <nav class="navbar navbar-expand-md bg-white"> -->
  
    <!-- Brand -->
    <!-- <a class="navbar-brand" href="#">Logo</a> -->
    <!-- <div class="col-md-3 no-pd">
  <input class="form-control hem-input" type="text" placeholder="search">
  <i class="material-icons icon-hm icon-srch">
      search
      </i>
  </div> -->
    <!-- Toggler/collapsibe Button -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button> -->

     
  
    <!-- Navbar links -->
    <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav navbar-hem">
        <li class="nav-item" >
          <a class="nav-link" href="#" matRipple><i class="material-icons icon-hm">
              mail
              </i>
              <i class="notified"></i></a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#" matRipple><i class="material-icons icon-hm">
              notifications
              </i> <i class="notified"></i></a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" matRipple>
            <span class="user-pic"></span>
            <button mat-button [matMenuTriggerFor]="menu">{{loginUser.user_name}} <i class="material-icons">keyboard_arrow_down</i></button>
            <mat-menu #menu="matMenu">
              <button mat-button (click)="logout()">Logout</button>
              <button *ngIf="loginUser.role_id==1" mat-menu-item (click)="about()">About</button>
            </mat-menu>
          </a>
        </li>
      </ul>
    </div>
  </nav> -->