@import '../../../scss/theme.scss';
.logo {
    width: 200px;
    margin-top: 0px;
    svg{
        margin-left: -60px;
    }
}
.getstartedhead{
    align-items: center;
    justify-content: space-between;
    height: 60px;
    &.container{
        max-width: 100%;
    width: 97%;
    }
    .app-status{
        padding-top: 5px;
    margin-right: 25px;
    cursor: pointer;
    svg {
        margin-top: -5px;
        vertical-align: middle;
    }
        p{
            color: #c8cedb;
            font-size: 12px;
            margin-left: 10px;
            margin-bottom: 0;
    }
} 
}
.ml-md-4, .mx-md-4 {
    margin-left: 1.5rem!important;
}
.btn-secondary {
    background: none!important;
    border: none!important;
}