
<div class="container-fluid full_hight">
        <div class="row full_hight">
                <div class="col-md-2 cust-width no-pd full_hight">
                        <app-side-bar ></app-side-bar>
                </div>
                <div class="col-md-10 cust-width no-pd full_hight" >
                    
                    <div class="fl-wd">
                        <app-header ></app-header>
                        <router-outlet class="pdl-pd"></router-outlet>
                        
                </div>
        </div>
        </div>
</div>