@import './scss/theme.scss';
.fl-wd {
    box-shadow: rgba(110,110,110,.5) 0px 0px 2px;
}
.row{
    .col-md-2{
        transition: all .3s;
        &.no-wd{
            flex: 0 0 0%;
            max-width: 0%;
        }
    }
    .col-md-10{
        transition: all .3s;
        &.full-wd{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
i.bars {
    background: #7f63f4;
    color: #fff;
    padding: 5px;
    border-radius: 0px 4px 4px 0px;
    position: fixed;
    left: 16.20%;
    box-shadow: black 2px 0px 2px;
    cursor: pointer;
    top: 12px;
    z-index: 99;
}
.col-md-2{
    &.cust-width{
        width: 15%;
    }
}
.col-md-10{
    &.cust-width{
        width: 85%;
    }
}