<section class="inventory">

    <header class="inv_hdr">
      <aside class="lft">
      <i class="material-icons" data-toggle="modal" data-target="#myModal">add</i>
      <h4> Order inventory</h4>
  </aside>


  </header>
  <app-table [data]="currentList" [cols]="iCols" [header]="iCol" [advSearch]="true"></app-table>
</section>



<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Order</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <!-- <i class="material-icons close"  data-dismiss="modal">close</i> -->

        <button mat-mini-fab color="primary" data-dismiss="modal" aria-label="Example icon button with a menu icon">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- <form>
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                  </div>
                  <div class="col">
                    <input type="password" class="form-control" placeholder="Enter password" name="pswd">
                  </div>
                </div>
              </form> -->
        <form>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input type="text" matInput value="">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="example-full-width">
                <mat-label>User Name</mat-label>
                <input type="text" matInput value="">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="example-full-width">
                <mat-label>Website</mat-label>
                <input type="text" matInput value="">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="example-full-width">
                <mat-label>Phone</mat-label>
                <input type="tel" matInput value="">
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="" [formControl]="emailFormControl" value="">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button mat-raised-button color="primary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-danger" >Close</button> -->
      </div>

    </div>
  </div>
</div>