<section class="inventory">
    <header class="inv_hdr">


        
        <aside class="lft">
            <i class="material-icons" data-toggle="modal" (click)="openAddProduct()" data-target="#myModal">add</i>
            <h4> Product inventory</h4>
            <button mat-button [matMenuTriggerFor]="animals">Category</button>
            <mat-menu #animals="matMenu">
                <ng-container *ngFor="let cat of catList">
                    <button *ngIf="cat.subCat && cat.subCat.length>0;else noChildSub" mat-menu-item
                        [matMenuTriggerFor]="subCat" (click)="setSelectedCat(cat,false)" (mouseenter)="setSelectedCat(cat,false)">{{cat.catName}}</button>
                    <ng-template #noChildSub>
                        <button mat-menu-item (click)="setSelectedCat(cat,true)">{{cat.catName}}</button>
                    </ng-template>
                </ng-container>
            </mat-menu>
    
            <mat-menu #subCat="matMenu">
                <ng-container *ngFor="let cat of subCatList">
                    <button *ngIf="cat.Items && cat.Items.length>0;else noChildSub" mat-menu-item
                        [matMenuTriggerFor]="itemsCat" (click)="setSelectedSubCat(cat,false)" (mouseenter)="setSelectedSubCat(cat,false)">{{cat.subCategory}}</button>
                    <ng-template #noChildSub>
                        <button mat-menu-item (click)="setSelectedSubCat(cat,true)">{{cat.subCategory}}</button>
                    </ng-template>
                </ng-container>
            </mat-menu>
    
            <mat-menu #itemsCat="matMenu">
                <ng-container *ngFor="let cat of itemCatList">
                    <button mat-menu-item (click)="setSelectedItemCat(cat,true)">{{cat.name}}</button>
                </ng-container>
            </mat-menu>

        </aside>


    </header>
    <app-table [data]="currentList" [cols]="iCols" [header]="iCol" [advSearch]="true"></app-table>
</section>

<app-product-form *ngIf="isShowForm" [product]="selectedProduct" [catList]="catList" (emitClose)="getClosePopup()" (emitSave)="getEmitSave($event)"></app-product-form>