    <section class="catg_name">
        <h4 class="catag_hd"><i class="material-icons" title="add catagory" (click)="openFormCreate(1)">add</i> Category
        </h4>
        <ul class="main_parent cus_scrl">

            <li [ngClass]="{'active':selectedCategory._id==cat._id}" *ngFor="let cat of catList"
                (click)="setSelectedCat(cat)">{{cat.catName}}
                <button mat-button color="primary" [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item title="add Sub catagory" (click)="openFormCreate(2)">Add Sub Category</button>
                        <button mat-menu-item (click)="openFormEdit(1)">Edit Category</button>
                        <button mat-menu-item>Delete Category</button>
                    </mat-menu>
                </button>
            </li>
        </ul>
    </section>
    <!-- <ng-container > -->
    <ng-container *ngIf="subCatList.length>0">
        <section class="catg_name sub_catag">
            <h4 class="catag_hd"> 
                <!-- <i class="material-icons" title="add Sub catagory" (click)="openFormCreate(2)">add</i> -->
                Sub Category</h4>
            <ul class="main_parent cus_scrl">
                <li [ngClass]="{'active':selectedSubCategory.id==cat.id}" *ngFor="let cat of subCatList"
                    (click)="setSelectedSubCat(cat)">{{cat.subCategory}}
                    <button mat-button color="primary" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item title="add Item catagory"
                            (click)="openFormCreate(3)">Add Items</button>
                            <button mat-menu-item (click)="openFormEdit(2)">Edit Category</button>
                            <button mat-menu-item>Delete Category</button>
                        </mat-menu>
                    </button>
                </li>
            </ul>
        </section>
        <!-- <ng-container> -->
        <ng-container *ngIf="itemCatList.length>0">
            <section class="catg_name sub_catag">
                <h4 class="catag_hd"> 
                    <!-- <i class="material-icons" title="add Item catagory"
                        (click)="openFormCreate(3)">add</i>  -->
                        Item Category</h4>
                <ul class="main_parent cus_scrl">
                    <li [ngClass]="{'active':selectedItemCategory.id==cat.id}" *ngFor="let cat of itemCatList"
                        (click)="setSelectedItemCat(cat)">{{cat.name}}
                        <button mat-button color="primary" [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openFormEdit(3)">Edit Category</button>
                                <button mat-menu-item>Delete Category</button>
                            </mat-menu>
                        </button>
                    </li>
                </ul>
            </section>
        </ng-container>

    </ng-container>


    <app-category-form class="modified_catg" (emitClose)="emitClosePopup()" *ngIf="(level==1 && isForm)" [level]="level"
        [selectedCategory]="selectedCategory" [selectedSubCategory]="selectedSubCategory"
        [selectedItemCategory]="selectedItemCategory"></app-category-form>
    <app-category-form class="modified_catg" (emitClose)="emitClosePopup()"*ngIf="(level==2 && isForm)" [level]="level"
        [selectedCategory]="selectedCategory" [selectedSubCategory]="selectedSubCategory"
        [selectedItemCategory]="selectedItemCategory"></app-category-form>
    <app-category-form class="modified_catg" (emitClose)="emitClosePopup()"*ngIf="(level==3 && isForm)" [level]="level"
        [selectedCategory]="selectedCategory" [selectedSubCategory]="selectedSubCategory"
        [selectedItemCategory]="selectedItemCategory"></app-category-form>
