<section class="catg_name">
    <h4 class="catag_hd"><i class="material-icons" title="add catagory">add</i> Category</h4>
    <ul class="main_parent cus_scrl">
        <li>category 1
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 2
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>

        </li>
        <li>category 3
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 4
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li class="active">category 5
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 6
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 7
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 8
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
    </ul>
</section>
<section class="catg_name sub_catag">
    <h4 class="catag_hd"> <i class="material-icons" title="add Sub catagory">add</i> Sub Category</h4>
    <ul class="main_parent cus_scrl">
        <li>category 1
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 2
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>

        </li>
        <li class="active">category 3
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 4
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li >category 5
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 6
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 7
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 8
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
    </ul>
</section>
<section class="catg_name sub_catag">
    <h4 class="catag_hd"> <i class="material-icons" title="add Sub catagory">add</i> Sub Category</h4>
    <ul class="main_parent cus_scrl">
        <li>category 1
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 2
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>

        </li>
        <li >category 3
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 4
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li >category 5
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 6
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li class="active">category 7
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
        <li>category 8
            <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Edit Category</button>
                    <button mat-menu-item>Delete Category</button>
                </mat-menu>
            </button>
        </li>
    </ul>
</section>

<app-category-form class="modified_catg"></app-category-form>
